# Sample make.conf file to be configured depending on the environment in which
# SMUFIN is executed.

# Path to headers:
# - Google sparsehash
# - moodycamel's ConcurrentQueue and ReaderWriterQueue
# - Boost's algorithm
GSH_INC   = /usr/include
MCQ_INC   = /usr/include/concurrentqueue
RWQ_INC   = /usr/include/readerwriterqueue
BOOST_INC = /usr/include/boost

# libbf: paths to headers/libraries.
BF_INC = /usr/include/libbf
BF_LIB = /usr/lib

# RocksDB: paths to headers/libraries.
ROCKS_INC = /usr/include/rocksdb
ROCKS_LIB = /usr/lib

# htslib: paths to headers/libraries.
HTS_INC = /usr/include/htslib
HTS_LIB = /usr/lib

# Compiler & linker verbosity.
VERBOSE ?= 0

# Compilation flags.
CFLAGS = -O2 -DNDEBUG
# CFLAGS = -O3 -march=core-avx2
# CFLAGS = -O3 -mcpu=power8
